@import '../../../../styles.scss';

.navbar {
    background-color: $neutral-dark;
  }
  
  .navbar-brand {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
  
  .nav-link {
    color: $accent-color;
    &:hover {
      color: $secondary-color;
    }
  }
  